@font-face { font-family: 'Roboto'; src: url(../fonts/Roboto-Regular.ttf); font-weight: 400; font-style: normal; }
@font-face { font-family: 'Roboto'; src: url(../fonts/Roboto-Bold.ttf); font-weight: 600; font-style: normal; }

html, body {
	overflow-x: hidden;
	font-family: 'Roboto';
}

.big-wrapper {
	overflow: hidden;
	margin-top: 75px;
}

.big-wrapper-slideshow {
	margin-top: 0px;
}

.wrapper {
	margin: 0 -15px;
}

.row {
	font-size: 0;
}

.slicknav_menu {
	display: none;
}

.row.content-padding {
	padding: 65px 0;
}

.wp_slider {
	margin-top: 75px;
}

h1 {
	color: var(--mainColor);
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 20px;
}

h2 {
	color: var(--mainColor);
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 20px;
}

h2 .currency {
	display: inline-block;
	padding-right: 9px;
}

h2 .additional {
	font-size: 21px;
	display: inline-block;
	vertical-align: bottom;
}

h3 {
	color: #000;
	font-weight: 500;
	font-size: 23px;
	margin-top: 0;
	margin-bottom: 30px;
}

h4 {
	color: #000;
	font-weight: 500;
	font-size: 19px;
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1.5em;
}

a {
	color: #111111;
}

a:hover {
	text-decoration: none;
	color: var(--mainColor)
}

img:hover {
	opacity: 0.8;
}

.clear {
	clear: both;
}

.slicknav_btn {
	background-color: #000;
}

.slicknav_menu {
	background: #000;
}

:root {
	--mainColor: #caa966;
}

nav {
	display: block;
}

img {
	max-width: 100%;
}

.header-bar {
	font-size: 0;
	width: 100%;
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	z-index: 1000;
	box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
	height: 75px;
}

.header-bar-login {
	margin-top: 32px;
}

.header-bar .header-bar-top {
	height: 41px;
	text-align: right;
	font-weight: 400;
}

.header-bar-top-element {
	padding: 10px 25px;
	display: inline-block;
	color: rgba(255, 255, 255, 0.65);
	border-right: 1px solid rgba(255, 255, 255, 0.12);
	font-size: 14px;
	position: relative;
}

.header-bar-top-element i {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	margin-right: 15px;
}

.header-bar-top-element a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
}

.header-bar-top-element a:hover {
	color: var(--mainColor);
}

.header-bar-bottom {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.header-bar-bottom .logo {
	width: 70px;
	height: 70px;
	position: absolute;
	z-index: 500;
	text-align: center;
}

.header-bar-bottom .logo a {
	display: block;
}

.header-bar-bottom .logo .logo-middle-helper {
	height: 150px;
	width: 0px;
	display: inline-block;
	vertical-align: middle;
}

.logo-middle-helper img:hover {
	opacity: 1;
}

.header-bar-bottom .logo img {
	display: inline-block;
	vertical-align: middle;
	width: 70px;
	height: 70px;
}

.header-bar-bottom .menu {
	list-style: none;
	text-align: right;
	margin: 0 0 0 230px;
	padding: 0;
	width: -webkit-calc(100% - 230px);
	width: -moz-calc(100% - 230px);
	width: calc(100% - 230px);
	height: 75px;
	display: flex;
	align-items: center;
}

.header-bar-bottom .menu li {
	display: inline-block;
	font-size: 14px;
	position: relative;
}

.header-bar-bottom .menu li a {
	padding: 28px 20px;
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
	display: block;
	font-weight: 600;
    margin-top: 0;
    font-family: 'Roboto';
    font-size: 17px;
    line-height: 1;
}
@media screen and (max-width:1199px){
	.header-bar-bottom .menu li a{font-size: 14px;}
}
.header-bar-bottom .menu li a:hover{
	color: #caa966;
}

..header-bar-bottom .menu li.current-menu-item a::after {
	content: '';
	display: block;
	width: auto;
	height: 2px;
	background: #fff;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

p, blockquote.flying cite, ul li, ol li {
	font-size: 16px;
	font-weight: 300;
	color: #000;
	line-height: 1.8em;
	margin-bottom: 15px;
	font-style: normal;
}

.section-space {
	padding: 65px 0;
}

.bg-gray.video {
	height: 500px;
}

.container-fluid.bg-gray {
	margin-top: 65px;
}

.section-title {
	margin-bottom: 40px;
	text-align: center;
}

.section-title h2 {
	color: var(--mainColor);
	font-weight: 400;
	font-size: 42px;
	margin-top: 0;
	margin-bottom: 0px;
}

.section-title h2::before {
	content: " ";
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	bottom: -12px;
	width: 80px;
	height: 2px;
	margin: 0 auto;
	background-color: var(--mainColor)
}

.section-title p {
	margin-bottom: 10px;
}

.icon-blocks {
	margin-left: 30px;
	font-size: 0;
}

.text-center {
	text-align: center;
}
.txt_center{
	font-weight: 400;
    margin-top: 0;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 20px;
    color: #333;
}

.icon-blocks .img-caption a img {
	width: 350px;
	height: 210px;
	border-radius: 15px;
	margin-bottom: 15px;
}

.img-caption h4 a {
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	height: 70px !important;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	font-size: 23px;
	line-height: 30px;
	padding: 10px;
	color: #111111;
}

.img-caption.text-center h4 {
	color: #000;
	font-weight: 500;
	font-size: 19px;
	margin-top: 0;
	margin-bottom: 30px;
	line-height: 1.5em;
}

p.space {
	margin-top: 40px;
}

p:last-child, blockquote.flying cite, ul li, ol li {
	margin-bottom: 0;
}

.text-center {
	text-align: center;
}

.button {
	text-decoration: none;
	outline: none;
	background: #caa966;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	text-transform: uppercase;
	color: #fff;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
	padding: 18px 26px;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	line-height: 1;
	cursor: pointer;
	letter-spacing: 1px;
	position: relative;
	text-align: center;
	border: 0;
}

.button span {
	position: relative;
	z-index: 10;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
}

.button:hover {
	text-decoration: none;
	color: #fff;
}

.button:after {
	content: '';
	position: absolute;
	z-index: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	width: 0%;
	-webkit-height: calc(100% + 4px);
	-moz-height: calc(100% + 4px);
	height: calc(100% + 4px);
	top: -2px;
	left: -2px;
	background: #caa966;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	color: #fff;
}

.button:hover:after {
	width: -webkit-calc(100% + 4px);
	width: -moz-calc(100% + 4px);
	width: calc(100% + 4px);
}

.vertical-align-middle {
	display: inline-block;
	vertical-align: middle;
	float: none;
	width: 555px;
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-gray .container .row {
	display: flex;
}

.bg-gray {
	background: #f7f6ed;
}

.services h1 {
	color: var(--mainColor);
	font-weight: 400;
	font-size: 35px;
	margin-top: 0;
	margin-bottom: 20px;
}

p.important {
	font-size: 20px;
	color: var(--mainColor);
}

.services ul {
	list-style: none;
	padding: 0;
}

.services ul li {
	padding-right: 15px;
	line-height: 30px;
}

.services ul li i {
	padding-right: 10px;
	color: var(--mainColor);
	font-size: 14px;
}

.counter {
	background: #fff;
	padding: 20px;
}

.counter:hover {
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	float: none;
}

.icon i {
	color: var(--mainColor);
	font-size: 30px;
	margin: 22px 0 0 0;
	display: block;
	border: 1px solid var(--mainColor);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	padding: 28px 8px;
	line-height: 39px;
}

.fun-facts span.number {
	font-weight: 300;
	font-size: 32px;
	color: var(--mainColor);
	display: block;
	font-weight: 700;
}

.fun-facts span.what-do {
	color: #363636;
	display: block;
	text-transform: uppercase;
	margin: 10px 0 0 0;
	font-size: 18px;
	font-weight: 300;
	height: 52px;
}

.margin-top {
	margin-top: 50px;
}

.margin-top30 {
	margin-top: 30px;
}

.video h3 {
	color: var(--mainColor);
	margin-bottom: 20px;
	font-size: 42px;
}

.section-space.bg-gray.video {
	height: auto;
}

.video_img {
	width: 100%;
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn_play {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.btn_play i {
	font-size: 70px !important;
}

.video-con-title {
	color: var(--mainColor);
	font-size: 35px;
}

.highlight_img {
	border-radius: 15px !important;
	margin-bottom: 15px !important;
}

.margin-top30 a img {
	width: 255px;
	height: 153px;
	object-fit: cover;
	object-position: center;
}

.margin-top30 h4 a {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	height: 52px !important;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.margin-top30 p:nth-child(4) {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	height: 85px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.highlingt_detail img {
	border-radius: 15px;
}
.highlingt_title{
	text-align: center;
}
.highlingt_title a {
	font-size: 28px;
	padding-top: 20px;
}
.highlingt_description{
	text-align: center;
}
.highlight_post_img {
	height: 170px;
	background-size: cover;
}

.highlight_post_img:hover {
	opacity: 0.7;
}

.highlight_post_txt {
	margin-right: 15px;
	margin-top: 7px;
}

.highlight_post_txt b {
	font-size: 15px;
}

.highlight_post_txt h4 a {
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	-webkit-line-clamp: 2;
	height: 55px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	margin-top: 7px;
}

.highlight_post_txt p {
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	-webkit-line-clamp: 3;
	height: 75px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.gallery {
	padding: 75px 0;
}

.recent-news {
	padding: 75px 0;
}

.recent-news p.date {
	margin-bottom: 0px;
	font-size: 14px;
}

.recent-news h4 {
	color: #000;
	margin-bottom: 15px;
}

h3 a, h3 a:hover, h4 a, h4 a:hover {
	color: var(--mainColor);
	text-decoration: none;
}

.recent-news p.read-all-news {
	margin-top: 55px;
	text-align: center;
}

.pricingtables .panel {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0;
	padding: 0;
}

.pricingtables .panel-body {
	margin: 0;
	padding: 0px;
}

.panel-body a img {
	width: 348px;
	height: 210px;
	object-fit: cover;
	object-position: center;
}

.panel-footer {
	background: #fff;
	border: 1px solid #f5f5f5;
	padding: 30px 0;
}

.panel-info p {
	padding: 10px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	height: 70px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	font-size: 22px;
	line-height: 30px;
}

.references {
	padding: 75px 0;
}
.reference-job{
	color: #868686;
	text-transform: uppercase;
	font-size: 14px;
}
.references .references-slider {
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	height: 210px;
}

.references .testimonial-background {
	padding: 25px 15px;
	background: #fff;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
}

.testimonial-background img {
	width: 240px;
	height: 240px;
}

.testimonial-background img:hover {
	opacity: 1;
}

.references .single-reference h4 {
	color: var(--mainColor);
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 5px;
}

.faq {
	padding: 75px 0;
	font-size: 0;
}

.single-faq {
	background: #fff;
	display: inline-block;
	width: 100%;
}

.faq h2 {
	text-align: center;
}

.faq .single-faq .single-faq-title {
	border: 1px solid transparent;
	font-size: 16px;
	font-weight: 700;
	color: #363636;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
}

.faq .single-faq .single-faq-title .single-faq-title-inner-border {
	padding: 24px;
	border: 1px solid transparent;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
}

.faq .single-faq .single-faq-title .tcon {
	display: inline-block;
	margin-right: 10px;
	float: right;
}

.faq .single-faq .single-faq-answer {
	display: none;
	padding: 15px 24px 15px 24px;
}

.faq .single-faq .single-faq-read-more p {
	text-align: right;
	padding-right: 20px
}

.faq .single-faq .single-faq-answer-active {
	display: block;
}

.faq .single-faq .single-faq-answer-active p {
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	-webkit-line-clamp: 3;
	height: 76px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.faq .single-faq .single-faq-title .tcon-plus::before, .faq .single-faq .single-faq-title .tcon-plus::after {
	border-bottom: 2px solid var(--mainColor);
}

.faq .single-faq .single-faq-active {
	display: block;
}

.faq .single-faq.single-faq-active .single-faq-title {
	color: var(--mainColor);
	border-bottom: 1px solid #f5f5f5;
}

.faq .single-faq.single-faq-active .single-faq-title .single-faq-title-inner-border {
	padding: 24px;
	border: 1px solid transparent;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
}

.faq .single-faq .single-faq-title .tcon {
	display: inline-block;
	margin-right: 10px;
	float: right;
}

.tcon {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	cursor: pointer;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 40px;
	transition: 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	width: 40px;
	background: transparent;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

.tcon > * {
	display: block;
}

.tcon:hover, .tcon:focus {
	outline: none;
}

.tcon::-moz-focus-inner {
	border: 0;
}

.tcon-plus {
	height: 14px;
	position: relative;
	width: 14px;
}

.tcon-plus::before, .tcon-plus::after {
	content: '';
	display: block;
	position: absolute;
	transition: 0.3s;
	height: 20%;
	top: 37%;
	left: 8%;
}

.tcon-plus:after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.tcon-plus-check.tcon-transform::after {
	transform: rotate(0) translate(0%, -70%);
	top: 50%;
}

.tcon-plus::before, .tcon-plus::after {
	width: 90%;
}

.tcon-plus-check.tcon-transform::after {
	width: 85%;
}

form.form-active {
	position: relative;
	padding: 25px 15px;
	background: #fff;
	margin-top: 60px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
}

form input, form textarea {
	display: block;
	width: 100%;
	border: 1px solid #d9d9d9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 21px;
	height: 53px;
	outline: none;
	font-size: 14px;
	font-weight: 400;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
	margin-bottom: 15px;
	line-height: 1;
	-webkit-appearance: none;
	-moz-appearance: none;
}

form textarea {
	padding: 16px 21px;
	height: 189px;
}

form input:hover, form textarea:hover {
	border-color: #bbb;
}

form input:focus, form textarea:focus {
	border-color: var(--mainColor);
}

/*Footer*/
footer {
	background: #262626;
}

footer .main-footer {
	padding: 75px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

footer h4 {
	color: #fff;
	border-bottom: 1px solid var(--mainColor);
	padding-bottom: 15px;
	font-weight: 300;
	text-transform: uppercase;
}

footer p {
	font-size: 14px;
	font-weight: 500;
	margin: 15px 0;
	margin-bottom: 15px;
	color: #fff;
}

.main-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-footer ul li i {
	color: var(--mainColor);
	margin-right: 10px;
}

.main-footer ul li a {
	color: #fff;
	font-size: 13px;
}

.main-footer .tags ul li {
	float: left;
	padding: 2px 15px;
	border: 1px solid var(--mainColor);
	border-radius: 20px;
	margin-right: 15px;
	color: #fff;
}

.main-footer .pay-ment {
	color: #bdbdbd;
}

.fa-3x {
	font-size: 3em;
}

.copyright {
	padding: 20px 0;
}

footer .social-links {
	float: right;
}

footer .social-links a {
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.9);
	color: var(--mainColor);
	text-align: center;
	line-height: 1.6;
	margin: 10px 10px 10px 0;
	border-radius: 50%;
	padding: 4px;
}
footer .social-links a:hover{
	background:var(--mainColor);
	color:#fff;
}

.gallery .gallery-filters {
	margin: 0 0 40px 0;
	padding-left: 0;
	text-align: center;
}

.gallery .gallery-filters li.filter {
	font-weight: 700;
	color: #868686;
	font-size: 13px;
	display: inline-block;
	margin: 0 10px;
	padding: 16px 28px;
	line-height: 1;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
	cursor: pointer;
	text-transform: uppercase;
	border: 2px solid transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 24px;
}

.gallery .gallery-filters li.filter.filter-active {
	background: var(--mainColor);
	color: #fff;
}

.gallery .gallery-images {
	display: none;
	position: relative;
	height: auto;
	font-size: 0;
	margin: 0 -7.5px;
}

.gallery .gallery-images-active {
	display: block;
}

.gallery .gallery-images .gallery-single-image {
	width: 273.75px;
	height: 273.75px;
	display: inline-block;
	margin: 7.5px 7.5px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 15px;
}

.gallery .gallery-images .gallery-single-image .gallery-single-image-caption {
	content: '';
	position: absolute;
	width: 273.75px;
	height: 273.75px;
	background: rgba(255, 255, 255, 0.3);
	opacity: 0;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	display: flex;
}

.gallery .gallery-images .gallery-single-image .gallery-single-image-caption .gallery-single-image-caption-icon {
	width: 46px;
	height: 46px;
	background: #caa966;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: 60%;
	margin-left: -23px;
	margin-top: -23px;
	font-size: 16px;
	text-align: center;
	padding-top: 11px;
	color: #fff;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

.gallery .gallery-images .gallery-single-image:hover .gallery-single-image-caption {
	opacity: 1;
}

.gallery .gallery-images .gallery-single-image:hover .gallery-single-image-caption .gallery-single-image-caption-icon {
	top: 50%;
}

/* Button go to top */
.go-to-top {
	position: fixed;
	bottom: 0.75em;
	right: 0.5em;
	text-decoration: none;
	color: white;
	background: #e6c67c;
	font-size: 18px;
	padding: 12px 19px;
	display: none;
	margin: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	z-index: 999;
}

.owl-item .col-md-4 {
	width: 100%;
}

/* Slider */
.image-slider-content {
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	animation: shrink linear 10s infinite alternate;
}

.image-slider-content:hover {
	opacity: 1;
}

@keyframes shrink {
	0% {
		background-size: 100% 100%;
	}

	100% {
		background-size: 105% 105%;
	}

}

/* Menu */
.nav-menu  > ul {
	display: flex;
}

.nav-menu  > ul > li > .sub-menu {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.nav-menu  > ul > li:hover > .sub-menu {
	visibility: visible;
	opacity: 1;
}

.header-bar .header-bar-bottom .menu .sub-menu li a {
	text-transform: none;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.75);
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
	display: block;
	padding: 11px 15px;
	text-align: left;
	min-width: 200px;
}

.nav-menu  > ul > li > .sub-menu li {
	border-bottom: 1px solid #e3e3e3;
}

.header-bar .header-bar-bottom .menu .sub-menu li a:hover {
	color: var(--mainColor);
}

.nav-menu  > ul > li > .sub-menu {
	padding-left: 0;
	text-align: left;
	min-width: 200px;
	width: auto;
	background: #fff;
}

.nav-menu  > ul > li > .sub-menu li:hover:last-child {
	border-color: var(--mainColor);
}

.highlight-post h4 a {
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	-webkit-line-clamp: 2;
	height: 50px !important;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.box3 {
	text-align: center;
	margin-bottom: 20px;
}

.box3:after, .box3:before {
	content: "";
}

.box3 {
	overflow: hidden;
}

.box3 {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	position: relative;
}

.box3 .box-content, .box3:after, .box3:before {
	position: absolute;
	left: 7%;
	right: 7%;
	transition: all 0.3s;
}

.box3:after, .box3:before {
	display: block;
	background: rgba(0, 0, 0, 0.3);
	top: 10%;
	bottom: 10%;
	z-index: 1;
	transform: scale(0, 1);
}

.box3:after {
	top: 10.8%;
	bottom: 10.8%;
	transform: scale(1, 0);
}

.box3:hover:before {
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}

.box3 .box-content {
	padding: 30px 10px;
	top: 10%;
	bottom: 10%;
	opacity: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box3 .title {
	font-size: 24px;
	font-weight: 600;
	color: var(--mainColor);
	margin: 0 0 5px;
}

.box3 .post {
	display: block;
	margin: 0 0 5px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
}

.box3 .description {
	font-size: 14px;
	color: #fff;
	margin: 0 0 20px;
}

.box3 .icon {
	padding: 0;
	margin: 0;
	list-style: none;
}

.box3 img {
	width: 355px;
	height: 250px;
}

.box3 .box-content .description a {
	color: #fff;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	-webkit-line-clamp: 3;
	height: 75px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.box3 .box-content .description a:hover {
	color: var(--mainColor);
}

.box3 .icon li {
	display: inline-block;
	margin: 0 10px 0 0;
}

.box3 .icon li a {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background: #88c425;
	transition: all 0.5s;
}

@keyframes animate {
	0%, 100% {
		opacity: 1;
	}

}

@keyframes animate-hover {
	0% {
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
	}

	50% {
		box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
	}

}

@media only screen and (min-width:767px) {
	.box3:hover:after, .box3:hover:before {
		transform: scale(1);
		animation: animate 1.5s;
	}

	.box3:hover img {
		transform: scale(1.2);
		filter: blur(5px);
		-moz-filter: blur(5px);
		-webkit-filter: blur(5px);
	}

	.box3:hover .box-content {
		box-shadow: 0 0 0 35px rgba(255, 255, 255, 0.3);
		opacity: 1;
		transition: all 0.3s;
	}

	.box3 .icon a:hover {
		text-decoration: none;
		animation: animate-hover 0.5s;
		transition: all 0.3s;
	}

}

@media only screen and (max-width:990px) {
	.box3 {
		margin-bottom: 30px;
	}

	.box3 .box-content {
		padding: 10px;
	}

	.box3 .description {
		margin-bottom: 10px;
	}

}

@media only screen and (max-width:479px) {
	.box3 .title {
		margin: 0;
	}

}

.customer {
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: #fff;
	padding: 25px 25px;
}

.customer_name {
	color: var(--mainColor);
	font-size: 25px;
	text-transform: uppercase;
}

.customer_img {
	max-width: 220px;
	width: 100%;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
}

.customer_txt {
	margin-left: 20px;
	margin-right: 15px;
}

/* Category */
.blog-post {
	margin-bottom: 60px;
}
.blog-post .btn_view_full a{
	padding: 15px 15px;
}
.blog-post p:nth-child(5) {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    height: 52px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blog-post .gallery-single-image a img {
	width: 100%;
	height: 220px;
	margin-bottom: 10px;
}

.blog-post .gallery-single-image:hover {
	opacity: 1;
}

.blog-post h3.title {
	margin-bottom: 20px;
	font-size: 28px;
}

.blog-posts-navigation {
	border-top: 2px solid #f7f6ed;
	text-align: right;
	padding: 40px 40px 0 0;
}

.blog-posts-navigation p.prev-posts, .blog-posts-navigation p.next-posts {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	margin: -2px 0 0 0;
}

.blog-posts-navigation p.prev-posts {
	margin-right: 2px;
}

.blog-posts-navigation a i {
	display: inline-block;
	font-size: 15px;
}

.blog-posts-navigation p.next-posts a i {
	margin-left: 15px;
}

.blog-posts-navigation a {
	color: #363636;
	background: #f7f7f7;
}

.blog-posts-navigation a:hover {
	color: #fff;
}

.blog-posts-navigation a:after {
	background: linear-gradient(90deg, #bb6c4e, #fde278);
}

.sidebar .widget {
	margin-bottom: 45px;
}

.search-field {
	display: block;
	position: relative;
}

.search-field button[type="submit"] {
	position: absolute;
	right: 2px;
	top: 2px;
	width: 46px;
	height: 49px;
	background: #fff;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: none;
	outline: none;
}

.search-field button[type="submit"] i {
	font-size: 15px;
	color: #d9d9d9;
}

.sidebar .widget .bar-cate {
	color: var(--mainColor);
	font-size: 24px;
	margin-bottom: 30px;
}

.sidebar .widget ul.sidebar-menu {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
}

.sidebar .widget ul.sidebar-menu li {
	display: block;
	width: 100%;
	border-bottom: 1px solid #f2f2f2;
}

.sidebar .widget ul.sidebar-menu li a {
	display: block;
	padding: 12px 0;
	text-decoration: none;
}

.sidebar .widget ul.sidebar-menu li i {
	display: inline-block;
	margin-right: 15px;
	color: var(--mainColor);
	font-size: 12px;
	vertical-align: middle;
}

.sidebar .widget ul.sidebar-menu li span.title {
	color: #000;
}

.sidebar .widget ul.sidebar-menu li span.title:hover {
	color: var(--mainColor);
}

.sidebar .widget ul.sidebar-menu li span.count {
	float: right;
	color: #868686;
}

.sidebar .widget .bar-post {
	color: var(--mainColor);
	font-size: 24px;
	margin-bottom: 30px;
}

.sidebar .widget ul.posts-list {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
}

.sidebar .widget ul.posts-list .images {
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: 80px;
	margin: 0 15px 0 0;
}

.sidebar .widget ul.posts-list .title {
	display: inline-block;
	vertical-align: middle;
	color: #000;
	font-weight: 400;
	font-size: 16px;
	width: -webkit-calc(100% - 95px);
	width: -moz-calc(100% - 95px);
	width: calc(100% - 95px);
	line-height: 1.8em;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	height: 60px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.sidebar .widget ul.posts-list .title:hover {
	color: var(--mainColor);
}

.sidebar .widget ul.posts-list li a {
	display: flex;
}

.sidebar .widget .bar-tag {
	color: var(--mainColor);
	font-size: 24px;
	margin-bottom: 30px;
}

.sidebar .widget ul.tagcloud {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
}

.sidebar .widget ul.tagcloud li {
	display: inline-block;
	background: #f2f2f2;
	padding: 5px 12px;
	margin-right: 10px;
}

.cate-title {
	font-size: 22px;
	margin-bottom: 0;
	line-height: 30px;
}
.cate-title a {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    -webkit-line-clamp: 2;
    height: 54px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.cate-posts-navi {
	text-align: right;
}

.cate-posts-navi a, .cate-posts-navi span {
	font-size: 20px;
	padding: 10px 16px;
	background-color: var(--mainColor);
	margin: 5px;
	border-radius: 50%;
	color: #fff;
}

.cate-posts-navi a:hover, .cate-posts-navi span:hover {
	color: #111111;
}

.cate-posts-navi .current {
	background-color: #bc6d4e;
}

.cate-posts-navi .current:hover {
	color: #fff;
}

.go-to-top i {
	padding-top: 5px;
}

.bar-image {
	width: 80px;
	height: 80px;
	background-size: cover;
	background-repeat: no-repeat;
}

.bar-image:hover {
	opacity: 0.7;
}

.sidebar-widget-content li {
	padding-bottom: 10px;
}

/* Single */
.images {
	height: 500px;
	font-size: 0;
	position: relative;
	margin-bottom: 45px;
}

.images .image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: 50% 50%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.images .image .image-caption {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.3);
	opacity: 0;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	cursor: pointer;
}

.images .image .image-caption .image-caption-icon {
	width: 46px;
	height: 46px;
	background: linear-gradient(90deg, #862d59, #ffcc99);
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: 60%;
	margin-left: -23px;
	margin-top: -23px;
	font-size: 16px;
	text-align: center;
	padding-top: 11px;
	color: #fff;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

article.blog-post h1 {
	margin-bottom: 35px;
	font-size: 32px;
}

article.blog-post .tags-and-categories {
	margin-top: 30px;
}

article.blog-post .tags-and-categories p {
	margin-bottom: 15px;
}

article.blog-post .tags-and-categories p span.title {
	display: inline-block;
	vertical-align: middle;
	width: 97.5px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	font-size: 13px;
}

article.blog-post .tags-and-categories p .element {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	background: #f2f2f2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 2px;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
	color: #838383;
	text-decoration: none;
	padding: 3px 12px;
}

.not_find {
	color: var(--mainColor);
	font-size: 25px;
	text-align: center;
}

/* Contact page */
.contact-page {
	display: flex;
}

.vertical-align-middle {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.contact-box {
	min-height: 190px;
	margin-bottom: 35px;
	display: block;
	background: #f7f7f7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
	padding: 35px;
	position: relative;
	overflow: hidden;
}

.contact-box i {
	color: rgba(0, 0, 0, 0.09);
	font-size: 92px;
	position: absolute;
	bottom: 35px;
	right: 29px;
}

.contact-box h3 {
	color: #363636;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-size: 19px;
}

.vertical-align-middle {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.contact-wrapper {
	padding-bottom: 75px;
}

.contact-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Menu mobile */
.topnav {
	display: contents;
	width: 100%;
	height: 60px;
	margin-top: 20px;
	overflow: hidden;
	background: #8e6628;
}

.nav-logo {
	display: none;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 60px;
	background: #8e6628;
}

.logo-menu-mobile {
	width: 60px;
	height: 60px;
}

.logo-menu-mobile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.icon-menu {
	width: 50px;
	height: 50%;
	background-color: #111;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-menu i {
	color: #fff;
	font-size: 20px;
}

.nav-menu {
	width: 100%;
	height: 70px;
}

.nav-menu-mobile {
	display: none;
	width: 75%;
	background-color: #faf6f3;
	margin: auto;
	border-radius: 5px;
}

.nav-menu-mobile .menu-mobile {
	display: block;
	list-style: none;
	font-size: 16px;
	margin-left: -30px
}

.nav-menu-mobile .menu-mobile .menu-item a {
	color: #8d6c57;
	text-decoration: none;
}

.nav-menu-mobile .menu-mobile .menu-item a:hover {
	color: #caa966;
	text-decoration: none;
}

.nav-menu-mobile .menu-mobile .menu-item .sub-menu {
	list-style: none;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	margin-left: -30px;
}

.nav-menu > div > ul > li > a {
	line-height: 42px;
}

.nav-menu > div > ul > li {
	border-bottom: 1px solid #e3e3e3;
	background-color: #ffff;
	list-style: none;
	position: relative;
}

.nav-menu-mobile .menu-mobile .menu-item .sub-menu {
	list-style: none;
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.nav-menu-mobile .menu-mobile .menu-item .sub-menu.data-active {
	visibility: visible;
	opacity: 1;
	position: static;
}

.nav-menu > div > ul > li > i {
	position: absolute;
	top: 0;
	right: 15px;
	line-height: 42px;
}

.nav-menu > div > ul > li > .sub-menu a {
	color: #63483c !important;
	padding: 10px;
}

.btn_play {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.btn_play .fa-play-circle {
	font-size: 70px;
}

.wp_slider .slideshow .slider-2 .owl-nav {
	width: 100%;
	position: absolute;
	top: 180px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.wp_slider .slideshow .slider-2 .owl-nav button {
	font-size: 70px;
	color: var(--mainColor);
}

.label {
	margin-right: 5px;
}

.post-grid {
	padding: 5px;
	transition: all 0.2s ease;
	overflow: hidden;
	position: relative;
	border: 1px solid #E1E1E1;
}

.post-grid .title {
	font-size: 18px;
	padding: 7px 0;
}

.post-grid p {
	line-height: normal;
}

.post-grid .img-holder {
	background-color: #eee;
	height: 130px;
	overflow: hidden;
	margin-bottom: 5px;
	position: relative;
}

.post-grid .img-holder img {
	width: 100%;
	margin: 1px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.post-grid:hover img {
	opacity: .8;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.post-grid .content-item:after {
	content: "";
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	height: 70px;
	width: 100%;
	background: -webkit-linear-gradient(top, rgba(254, 254, 254, 0), #fefefe);
	background: linear-gradient(to bottom, rgba(254, 254, 254, 0), #fefefe);
}

.post-grid:hover .hover-info {
	opacity: 1;
	bottom: 0;
}

.post-grid .hover-info {
	position: absolute;
	text-align: left;
	opacity: 0;
	bottom: -50%;
	left: 0;
	width: 100%;
	height: 28%;
	color: #fff;
	background-color: rgba(0, 0, 0, .7);
	z-index: 99;
	transition: all 200ms ease-in-out 0s;
	padding: 7px;
	font-size: 13px;
}

.post-grid .hover-info {
	margin: 0;
	font-size: 14px;
}

.post-grid .hover-info  a {
	color: aqua;
	display: inline-block;
	padding: 3px;
}

.post-grid .hover-info  a:hover {
	color: #fff
}

.post-grid .content-item .title a {
	color: #111;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	-webkit-line-clamp: 3;
	height: 70px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.post-grid .content-item .title a:hover {
	color: var(--mainColor);
}

.single_post_detail {
	height: auto !important;
}

.popup {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.75);
	z-index: 100;
}

.popup-inner {
	max-width: 700px;
	width: 90%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
	border-radius: 3px;
	background: #fff;
}

.popup-inner iframe {
	width: 100%;
	height: 350px;
}

.popup-close {
	width: 30px;
	height: 30px;
	padding-top: 4px;
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	transition: ease 0.25s all;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	border-radius: 1000px;
	background: rgba(0, 0, 0, 0.8);
	font-size: 20px;
	text-align: center;
	line-height: 100%;
	color: #fff;
}

.popup-close:hover {
	-webkit-transform: translate(50%, -50%) rotate(180deg);
	transform: translate(50%, -50%) rotate(180deg);
	background: rgba(0, 0, 0, 1);
	text-decoration: none;
}

.close_video {
	width: 100%;
	height: 100%;
}

.popup-scroll {
	overflow-y: scroll;
	max-height: 300px;
	padding: 0 1em 0 0;
}

.popup-scroll::-webkit-scrollbar {
	background-color: #EEE;
	width: 10px;
}

.popup-scroll::-webkit-scrollbar-thumb {
	border: 1px #EEE solid;
	border-radius: 2px;
	background: #777;
	-webkit-box-shadow: 0 0 8px #555 inset;
	box-shadow: 0 0 8px #555 inset;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.popup-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: 0 0 2px #ccc;
	box-shadow: 0 0 2px #ccc;
}
.view_more_btn{
	display: flex;
	justify-content: center;
}
.contact_map{
	width: 100%;
	height: 400px;
}
.contact_map iframe{
	width: 100%;
	height: 100%;
}
.footer_img{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
.footer_img img{
	width:50%;
	height: auto;
	opacity: 1;
}
.footer_img img:hover{
	opacity: 1;
}
ul.contact li {
    padding: 5px 0;
}
.about_services{height: 680px;}
.col-md-6.vertical-align-middle.service-img img:hover{ opacity: 1; }
.col-md-6.vertical-align-middle.services{margin-left: 40px;}
.service_video{
	display: flex;
	justify-content: center;
	align-items: center;
}
.service_video .img-block{
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 9em;
	border-width: 3px;
	border-style: solid;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	color: #fff;
}
.service_video .img-block .play{
	display: block;
	width: 0;
	height: 0;
	border-top: 15px solid transparent !important;
	border-bottom: 15px solid transparent !important;
	border-left-width: 24px;
	border-left-style: solid;
	vertical-align: middle;
	margin: 17px 22px;
	color: var(--mainColor);
}
.slider-2.owl-carousel.owl-theme.owl-loaded.owl-drag{background: #f7f6ed}
.section_video{ margin-bottom: 60px; }
.big-wrapper.wrapper_single{margin-top: 75px;}
.category__page-breadcum {
    padding-bottom: 30px;
    display: flex;
}
.category__page-breadcum span, .single__page-breadcum span {
	font-size: 20px;
    padding-right: 5px;
}
.category__page-breadcum .home a, .single__page-breadcum .home a{
	color: var(--mainColor);
}
.category__page-breadcum .category h1{
	font-size: 20px;
}
.single__page-breadcum{
	padding-bottom: 30px;
}
.single__page-breadcum .category{
	color: var(--mainColor);
}
.wrapper_category{
	margin-top: 75px;
}
.wrapper_single .images {
    margin-bottom: 0;
}
.page-header::before {
    z-index: 0;
    background-color: rgb(0 0 0 / 75%);
    transition: none 0s ease 0s;
    text-align: inherit;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    opacity: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}
.page-header {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    clear: both;
    float: left;
    margin: 0 0 80px;
    padding: 75px 0 73px;
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.page-header .container {
    z-index: 10;
    position: relative;
    display: block;
}
.breadcrumb a {
    color: #fff;
}
.breadcrumb a:hover {
    color: var(--mainColor);
}
.page-header-title {
    font-weight: 700;
}